
.benefits {
    padding-top: 94px;
    @include desctop {
        padding-bottom: 94px;
    }
}

.privilege {
    @media screen and (min-width: 320px) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    @include mobail {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    @include desctop {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
        
}
.privilege__list {
    width: 100%;
    min-height: 101px;
    @include mobail {
        width: 450px;
    }
    @include tablet {
        width: 354px;
    }
    @include desctop {
        width: 270px;
    }
}

.privilege__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
    
}
.privilege__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    min-width: 270px;
    @include desctop {
        width: 270px;
    }

}
.privilege__svg {
    margin-bottom: 30px;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    
}
.privilege__icon {
    width: 70px;
    height: 70px;
    display: block;
}
            