.footer .container {
    // display: flex;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    .footer-p {
        // display: block;
        // min-width: 231px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.logo__blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: var(--typical-lh);
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo__white {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: var(--typical-lh);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.footer-address {
    margin-top: 20px;
    .footer-link {
        font-style: normal;
        font-size: 14px;
        line-height: var(--typical-link-lh);
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}
.footer-text {
    margin-top: 9px;
    .a-mail-a {
        margin-bottom: 9px;
    }
}

.mail {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.tel {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
    
.footer-soc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin-left: 70px;
    .footer-soc-head {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .soc-footer {
        display: flex;
        justify-content: center;
        .footer-soc-item {

            .footer-soc-link {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    background-color: var(--icon-color-svg);
                }
                .footer-soc-icon {
                    fill: #FFFFFF;
                }
            }
        }
    }
}     

.mailing {
    // margin-left: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .footer-mailing {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .mailing-btn-input {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        // align-items: baseline;
        .mailing-input {
            width: 100%;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            font-family: 'Roboto';
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            background-color: #2F303A;
            color: #FFFFFF;
            padding-left: 16px;
            &::placeholder {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
            }
            
        }
    }
}

.mailing-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    .button-svg {
        position: absolute;
        top: 13px;
        right: 28px;
        fill: #FFFFFF;
    }
}







































