.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobail {
        padding: 16px 10px 16px 15px;
    }
    @include tablet {
        padding: 26px 15px;
        display: flex;
        justify-content: flex-start;
        gap: 60px;
    }
    @include desctop {
        display: flex;
        justify-content: center;
        padding: 24px 0;
        gap: 90px;
    }
    
    // display: flex;
    // padding-top: 24px;
    // padding-bottom: 24px;
    // align-items: center;
}
.header {
    border-bottom: 1px solid #ececec;
}

.logo-h {
    display: flex;
    &__blue {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: var(--typical-lh);
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    &__black {  
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: var(--typical-lh);
        letter-spacing: 0.03em;
        color: #000000;
    }
}

.open-menu {
    background-color: #fff;
    @include tablet {
        display: none;
    }
    @include desctop {
        display: none;
    }
}

.open-menu__svg {
    width: 40px;
    height: 40px;
    @media screen and (min-wight: 320px) {
        margin-top: 10px;
        margin-right: 10px;
    }
}

.navigation {
    display: none;
    @include tablet {
        display: contents;
        display: flex;
        column-gap: 50px;
        &__link {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: var(--main-nav-lh);
            letter-spacing: 0.02em;
            color: #212121;
            position: relative;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        } 
    } 
    
    // display: flex;
    // column-gap: 50px;
    // &__link {
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 14px;
    //     line-height: var(--main-nav-lh);
    //     letter-spacing: 0.02em;
    //     color: #212121;
    //     position: relative;
    //     transition-duration: 250ms;
    //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // }
}
.navigation__link {
    @media screen and (min-wight: 768px) {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: var(--main-nav-lh);
        letter-spacing: 0.02em;
        color: #212121;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

.contact {
    display: none;
    @include tablet {
        display: contents;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__mail {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: #757575;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            display: flex;
            &-svg {
                max-width: 16px;
                max-height: 12px;
                margin-right: 8px;
                fill: currentColor;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    fill: currentColor;
                }
            }
        }
    }
    @include desctop {
        display: contents;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: auto;
    }
}




.contact__tel {
    @include tablet {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        // margin-left: 50px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        &-svg {
            max-width: 10px;
            max-height: 16px;
            margin-right: 8px;
            fill: currentColor;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                fill: currentColor;
            }
        } 
    }
}





.emphasize {
    color: #2196F3;
}

.navigation__link.emphasize::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -33px;
    left: 0;
}

.contact__mail:hover, 
.contact__tel:hover, 
.navigation__link:hover {
    @include desctop {
        color: #2196F3;
    }
}

.contact__mail:focus, 
.contact__tel:focus, 
.navigation__link:focus {
    @include desctop {
        color: #2196F3;
    }
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mob-menu .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px 40px;
}

.mob-menu {
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include tablet {
        display: none;
    }
    @include desctop {
        display: none;
    }
}



.mob-menu-svg {
    fill: #000000;
    &:hover {
        fill: var(--icon-color-svg);
    }
}

.mob-nav__list {
    @media screen and (min-width: 320px) {
        margin-bottom: 10px;
    }
}

.mob-nav__link {
    @media screen and (min-width: 320px) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: .02em;
        color: #212121;
    }
    @include mobail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121; 
    }
}

.mob-contact {
    display: flex;
    flex-direction: column;
}
.mob-contact__mail {
    @media screen and (min-width: 320px) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .02em;
        color: #212121;
    }
    @include mobail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #757575;
    }
    
}
.mob-contact__tel {
    @media screen and (min-width: 320px) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: .02em;
        color: #212121;
        margin-bottom: 16px;
        color: #2196F3;
    }
    @include mobail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #2196F3;
        margin-bottom: 32px;
    }
}

.mob-soc__ul {
    display: flex;
    @media screen and (min-wight:320px) {
        gap: 10px;
    }
    @include mobail {
        gap: 20px;
    }
}
.mob-soc__item {
    @media screen and (min-width: 320px) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .02em;
        color: #2196f3;
    }
    @include mobail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
    } 
}