.our-work .container {
    padding-bottom: 94px;
}
.our-work {
    @media screen and (min-width: 320px) {
        display: none;
    }
    @include mobail {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include desctop {
        display: contents;  
    }
    
    .work__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
    }
    .work {
        display: flex;
        gap: 30px;
        &__slap {
            position: relative;
        }
        &__text {
            position: absolute;
            top: 76%;
            left: 0;
            width: 370px;
            height: 70px;
            padding-top: 27px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: rgba(47, 48, 58, 0.8);
        }
    }
}







